nav
  display grid
  grid-template-columns auto auto
  grid-template-areas: "logo nav"
  align-items center
  justify-content space-between
  text-align center
  // height 6vh
  width 100%

.logo
  background-color charcoal
  color white
  grid-area logo
  padding half
  text-decoration none

.nav
  grid-area nav
  display grid
  grid-template-columns auto auto
  grid-column-gap 1rem
  // justify-self end

  a
    padding half
    text-decoration none
