//- meta(name="google-site-verification" content="c51evxcsT_ZytNT5EOhfxNzHj5oF4DsrDkQLEPH1hxw")

//- Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-24190198-41')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-24190198-41');