nav(class="navtop")
  a(class="logo", href="/") RDMKIT
  span(class="tagline") Tools for setting type online
  .nav
    a(href="install.pug") install
    a(href="cpl.pug") cpl
    a(href="mzr.pug") mzr
    a(href="rdm.pug") rdm
    a(href="vrt.pug") vrt
    a(href="more.pug") more
    a(href="test.pug") Test
    btn(rel="on") off