nav(class="navtop")
  a(class="logo", href="/") RDMKIT
  //- span(class="tagline") Tools for setting type online
  span(class="tagline") Web typesetting tools
  .nav
    //- a(href="install.pug") install
    a(href="cpl.pug") cpl
    a(href="mzr.pug") mzr
    a(href="vrt.pug") vrt
    a(href="rdm.pug") rdm
    a(href="all.pug") all
    a(href="mor.pug") mor
    a(href="fun.pug") fun
    a(href="err.pug") err
    //- a(href="test.pug") test
    //- button(rel="on") off