extends layout/layout.pug

//- .hero
//-   div(class="hero__heading") RDMKIT

block meta
  title RDMKIT | CPL
  meta(name="description" content="CPL is a typographic tool for counting characters-per-line on a webpage")

block content
  main(class="main__column")
    hgroup
      h2(class="main__heading") CPL
      h3(class="main__subhead") Install the character-per-line counting tool

    p <code class="language-bash">npm install rdmkit-cpl --save-dev</code>
    p This will install CPL as a devDependency. 

    h3(class="main__subbold") Quick setup
    pre.language-js
      code.
        import cpl from "rdmkit-cpl";
        cpl();

    p This will get you going, but you will have to comment it out or remove it for production builds. Unless, you want it in your build code.

    h3(class="main__subbold") Conditional setup
    pre.language-js
      code. 
        if (process.env.NODE_ENV === "development") {
          var cpl = require("rdmkit-cpl");
          cpl();
        }

    p If you are using environment variables, this will only enable CPL while in development. It will not be included in the build. If you happen to use <a href="https://parceljs.org/env.html">ParcelJS</a> <code class="language-js">process.env.NODE_ENV === "development"</code> is set for you on all non-build runs. And it will also set <code class="language-js">process.env.NODE_ENV === "production"</code> when you do build. Super handy.


    h3(class="main__subbold") Usage

    p Select text and get a read-out of the number of characters you have selected. This is helpful if you need to know how many characters are in a line of text. You can also select as much text as you want and it will still tell you how many characters you have selected.

    p Try it now. Select this text in this line to see what CPL does.


  script(src="../internal.js")