extends layout/layout.pug

//- .hero
//-   div(class="hero__heading") RDMKIT

block content
  main
    hgroup
      h2 RDM

    p I promise, this will not be about typographical commandments and shaming. Rather, I'll introduce some tools I made to help us all with the challenge of setting pleasing type online. 


    p Press the 
        code.language-css period 
        |   key twice

    pre.language-css
      code.
        :root {
          line-height: 1.5;
          font-size: 20px;
        }