// Globals
lineHeight = 1.5
baseFontSize = 20px
half = .75rem
full = 1.5rem
threequarters = 2.25rem
double = 3rem
fx = .2s all ease-in-out

face = {
  mono : "ibm plex mono"
}

// simple breakpoints
breakpoints = {
  xs: "(max-width: 510px)",
  sm: "(max-width: 850px)",
  med: "(max-width: 1024px)",
  lg: "(max-width: 1600px)"
}

breakpoint(name) 
  @media breakpoints[name]
    {block}

// Flexbox debug tip from Wes Bos
debug(color=red)
  border 1px solid color

// Colors
black = #000
charcoal = #333
graphite = #ccc
fog = #e6e6e6
silver = #f5f5f5
white = #fff
red = #f00
blue = #03F
yellow = #ff0
gold = #f1c40f
magenta = magenta
wintermint = #0FA
slime = #67ff22
watermellon = #f63752
cyan = #46aeff
green = #2BB673
butter = #FFFCAD
eggplant = #6E019D
indigo = indigo
brick = indianred
transp = transparent

codeBg = fog
codeColor = charcoal
codeColor2 = charcoal
codeComment = charcoal
codePunctuation = charcoal
codeFucPropConstNum = charcoal
codeSelectorStrAttr = charcoal
codeValKeyClass = charcoal
codeOperatorVarUrlEntity = charcoal
codeReg = charcoal
codeStyleToken = charcoal
codeToken = charcoal


// Imports
// @import "resets"
@import "ui/*"
@import "vendor/*"

:root 
  box-sizing border-box
  font-size baseFontSize
  line-height lineHeight // 1.5

  &.desktop 
    
    main
      max-width 75ch

  &.tablet 
    
    main
      max-width 55ch

  &.mobile
    font-size 16px
    
    main
      max-width 35ch

  &.fix-space
    p.spacing
      margin-bottom full

    hgroup.hierarchy
      margin-top double
      margin-bottom full

    button 
      border none
      outline 2px solid currentColor
      &::after:hover
        border none
        outline 2px solid currentColor

*
  margin 0
  padding 0
  font-family: face.mono
  font-size 1rem
  font-weight normal
  // line-height lineHeight
  border none
  outline none

*, 
*:before, 
*:after 
  box-sizing inherit

body
  font-family: face.mono
  font-weight 200


figure
  width 100%
  /* height: auto; */
  /* padding: .5rem */
  overflow hidden
  /* height: 0; */
  /* padding-top: 56.25%; */
  /* position: relative; */
  /* overflow: hidden; */
  margin-bottom: 1.5rem
    
  img
    height 100%
    width 100% 
    /* height: 291px;  */
    object-fit cover
    object-position 50% 50%
    /* padding: .5rem */

p, ul
  transition fx

.spacing
  margin-bottom 23px
    

hgroup
  transition fx

.hierarchy
  margin-top 33px
  margin-bottom 13px

  h1, h2
    font-weight bold
    font-size 1.5rem
    line-height 1
  
  h3
    font-style italic


.button
  background-color charcoal
  color white
  padding 0 .5rem
  // padding half

button 
  border 2px solid currentColor
  // outline 2px solid currentColor
  // border-radius 3rem
  color charcoal
  // font-family roboto
  font-size 1rem
  overflow hidden
  padding: 0 half
  position relative
  text-decoration none
  transition .2s transform ease-in-out
  will-change transform
  z-index 0
  
  &::after
    background-color charcoal
    // border-radius 3rem
    content: ''
    display block
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    transform translate(-100%, 0) rotate(10deg)
    transform-origin top left
    transition .2s transform ease-out
    will-change transform
    z-index -1
    
  &:hover::after
    transform translate(0, 0)
    
  &:hover
    border 2px solid currentColor
    //outline 2px solid transparent
    color white
    transform scale(1.05)
    will-change transform


main
  max-width 100%
  margin 0 auto
  margin-bottom full
  transition fx


strong 
  font-weight bold


.main
  
  &__column
    margin 0 auto
    width 75ch

    p, ul 
      margin-bottom full

    hgroup
      margin-top double
      margin-bottom 1rem


  &__heading
    font-size 2rem
    line-height 1

  &__subhead
    font-style italic

  &__subbold
    font-weight bold



// Stripe
  .stripeBg::after
    background-color #333
    background-image: repeating-linear-gradient(90deg, transparent, transparent 5px, bg 5px, bg 10px);
    
    content: ''
    position absolute
    height 50%
    width 100%
    top 0
    left -2.5vw
    transform skewX(-45deg)
    //mix-blend-mode multiply


// IBM Plex Mono Regular
// font-family: ibm-plex-mono, sans-serif;
// font-weight: 400;
// font-style: normal;


// IBM Plex Mono Italic
// font-family: ibm-plex-mono, sans-serif;
// font-weight: 400;
// font-style: italic;


// IBM Plex Mono Bold Italic
// font-family: ibm-plex-mono, sans-serif;
// font-weight: 800;
// font-style: italic;


// IBM Plex Mono Bold
// font-family: ibm-plex-mono, sans-serif;
// font-weight: 800;
// font-style: normal;
  
// @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,100,400,700")


 