// Imports
// @import "resets"
@import "globals"
@import "ui/*"
@import "vendor/*"

:root 
  box-sizing border-box
  font-size baseFontSize
  line-height lineHeight // 1.5

  +breakpoint("xxs")
    font-size 16px

  &.desktop 
    
    main
      max-width 80ch
      padding 0 1.5rem

  &.tablet 
    
    main
      max-width 55ch

  &.mobile
    font-size 16px
    
    main
      max-width 35ch

  &.fix-space
    p.spacing
      margin-bottom full

    button
      border none
      outline 2px solid currentColor

      &::after:hover
        border none
        outline 2px solid currentColor

    hgroup.hierarchy
      margin-top double
      margin-bottom full


*
  margin 0
  padding 0
  font-family: face.mono
  font-size 1rem
  font-weight normal
  line-height lineHeight
  border none
  outline none

*, 
*:before, 
*:after 
  box-sizing inherit

body
  font-family: face.mono
  font-weight 400


figure
  width 100%
  /* height: auto; */
  /* padding: .5rem */
  overflow hidden
  /* height: 0; */
  /* padding-top: 56.25%; */
  /* position: relative; */
  /* overflow: hidden; */
  margin-bottom: 1.5rem
    
  img
    height 100%
    width 100% 
    /* height: 291px;  */
    object-fit cover
    object-position 50% 50%
    /* padding: .5rem */

p, ul
  transition fx

.spacing
  margin-bottom 23px

hgroup
  transition fx

.hierarchy
  margin-top 33px
  margin-bottom 13px

  h1, 
  h2
    font-weight bold
    font-size 1.5rem
    line-height 1
  
  h3
    font-style italic

li
  list-style-type circle

.buttons
  background-color charcoal
  color white
  padding 0 .5rem
  // padding half


button
  border 2px solid currentColor
  // outline 2px solid currentColor
  // border-radius 3rem
  color charcoal
  // font-family roboto
  font-size 1rem
  overflow hidden
  padding: 0 half
  position relative
  text-decoration none
  transition .2s transform ease-in-out
  will-change transform
  z-index 0
  
  &::after
    background-color charcoal
    // border-radius 3rem
    content: ''
    display block
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    transform translate(-100%, 0) rotate(10deg)
    transform-origin top left
    transition .2s transform ease-out
    will-change transform
    z-index -1
    
  &:hover::after
    transform translate(0, 0)
    
  &:hover
    border 2px solid currentColor
    //outline 2px solid transparent
    color white
    transform scale(1.05)
    will-change transform

  &.active
    background-color #ccc


main
  max-width 100%
  margin 0 auto
  margin-bottom full
  transition fx


strong 
  font-weight bold


.main
  
  &__column
    margin 0 auto
    padding 0 full
    margin-bottom double
    width 80ch

    p, ul 
      margin-bottom full

    hgroup
      margin-top double
      margin-bottom full

  &__headline
    font-size 2rem
    line-height 1
    margin-top double
    margin-bottom 1rem


  &__heading
    font-weight bold
    font-size 1.5rem
    line-height 1

  &__subhead
    font-style italic

  &__subbold
    font-weight bold



// Stripe
  .stripeBg::after
    background-color #333
    background-image: repeating-linear-gradient(90deg, transparent, transparent 5px, bg 5px, bg 10px);
    
    content: ''
    position absolute
    height 50%
    width 100%
    top 0
    left -2.5vw
    transform skewX(-45deg)
    //mix-blend-mode multiply

kbd 
  background-color graphite
  border-radius 3px
  outline 1px solid charcoal
  box-shadow 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset
  color charcoal
  display inline-block
  font-size .75rem
  font-weight 100
  // line-height 1
  padding 0 .5rem
  white-space nowrap

footer
  background-color charcoal
  color white

  p
    margin 0
    padding half 0 half half
 

.textbox
  outline 1px solid charcoal

@keyframes flickerAnimation
  0% 
    opacity 1
  50%
    opacity 0
  100%
    opacity 1

.animate-flicker 
  animation: flickerAnimation 1s infinite