// Globals
lineHeight = 1.5
baseFontSize = 20px
half = .75rem
full = 1.5rem
threequarters = 2.25rem
double = 3rem
fx = .2s all ease-in-out

face = {
  mono : "ibm plex mono"
}

// simple breakpoints
 breakpoints = {
  xs: "(max-width: 510px)",
  sm: "(max-width: 850px)",
  med: "(max-width: 1024px)",
  lg: "(max-width: 1600px)"
}

breakpoint(name) 
  @media breakpoints[name]
    {block}

// Flexbox debug tip from Wes Bos
debug(color=red)
  outline 1px solid color

// Colors
black = #000
charcoal = #333

@import "ui/nav"

*
  margin 0
  padding 0
  font-family: face.mono
  font-size 1rem
  font-weight normal
  // line-height lineHeight
  border none
  outline none

:root 
  color #333
  font-size baseFontSize
  line-height lineHeight // 1.5
  box-sizing border-box
  // text-size-adjust none

// html
//   line-height: lineHeight // 1
//   text-size-adjust none // 2
//   box-sizing border-box


*, 
*:before, 
*:after 
  box-sizing inherit

body
  font-family: face.mono
  font-weight 200

.page
  padding full double

nav > ul
  display grid
  grid-template-columns repeat(3, 1fr)

h1, h2, h3, h4, h5, h6, legend
  font-weight bold

p, ul
  margin-bottom full

// overrides
table
  border-spacing 0

td, th
  outline 2px solid black
  outline-offset -1px
  padding 0 half

sup
  display inline-block
  transform translateY(-5px)
  vertical-align baseline

sub
  display inline-block
  transform translateY(5px)
  vertical-align baseline
