doctype html
html.no-js(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    link(rel="stylesheet", href="../stylus/rdmkit.styl")
    include ../includes/google
    title HTML5 Test Page
  body
    .container
      include ../includes/nav

      block content

    script(src="../rdmkit.js")